@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://use.typekit.net/ygy1kje.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fdebf4;
}
body.homepage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/pink-triangle.png), url(../images/donut-display.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 180px;
  padding: 20px;
  position: fixed;
}
.navigation-desktop {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.navigation-desktop a {
  display: inline-block;
  margin: 20px 26px;
  color: #fff;
  text-decoration: none;
}
.navigation-desktop a:hover {
  border-bottom: 3px dotted white;
}

body.homepage main {
  position: absolute;
  bottom: 100px;
  left: 80px;
}
body.homepage h1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; 
  font-size: 80px; 
  line-height: 79.75px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button {
  display: inline-block;
  background: #E50278;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 200px;
  color: white;
  padding: 12px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center; 
}
.locations-page .page-title {
  font-family: hobo-std, sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #7d3520;
  text-align: center;
}
.locations-page .addresses-left .addresses-right {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}
.name {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #7d3520;
}
.content {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #7d3520;
}

footer {
  background-color: #e50278;
  width: 100vw;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}


/*start of mobile menu*/
@media screen and (max-width: 768px) {
  .button {
    color: #7d3520;
    background: white;
  }
  body.homepage h1{
    font-size: 60px;
  }
  .nav {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 900;
  }
  .icon {
    position: fixed;
    cursor: pointer;
    top: 25px;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
  }
  
  .hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #e50278;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburger:before,
  .hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #e50278;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
  }
  
  .hamburger:before {
    top: -10px;
  }
  
  .hamburger:after {
    top: 10px;
  }
  
  .icon.active .hamburger {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
  }
  
  .icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
  }
  .navigation-mobile,
  .navigation-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
  .navigation-mobile a {
    clear: right;
    text-decoration: none;
    color: white;
    height: 70px;
    line-height: 70px;
  }
  .navigation-desktop {
    display: none;
  }
}
