@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://use.typekit.net/ygy1kje.css');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #fdebf4;
}
body.homepage {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/pink-triangle.png), url(../images/donut-display.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
}
header .logo {
  width: 180px;
  padding: 20px;
}
body.homepage main {
  position: absolute;
  bottom: 100px;
  left: 80px;
}
body.homepage h1 {
  text-transform: uppercase;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; 
  font-size: 80px; 
  line-height: 79.75px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navigation {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #7d3520;
  text-decoration: none;
}
.navigation a {
  display: inline-block;
  margin: 20px 26px;
  color: #fff;
  text-decoration: none;
}
.navigation a:hover {
  border-bottom: 3px dotted white;
}

.navigation-mobile{
  display:none;
}

.locations-page .page-title {
  font-family: hobo-std, sans-serif;
  font-size: 48px;
  font-weight: 400;
  color: #7d3520;
  text-align: center;
}
.locations-page .addresses-left .addresses-right {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1;
}
.name {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #7d3520;
}
.content {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #7d3520;
}

footer {
  background-color: #e50278;
  width: 100vw;
  height: 150px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
}
.button {
  display: inline-block;
  background: #E50278;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 200px;
  color: white;
  padding: 12px 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  text-align: center; 
}

/*start of mobile menu*/
@media screen and (max-width: 768px) {
  .button {
    color: #7d3520;
    background: white;
  }
}
